In [1]:
import pandas as pd
import os
import datetime

In [2]:
ruta_bases = "C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12"
bases = os.listdir("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12")

In [3]:
fc = pd.read_excel( "C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12/Bases MOS/11.2024 S&OP ForecastColaboradoOEM_Mainstream_CicloDic24.xlsx", sheet_name='Inbound', header=3)

In [4]:
fc_premium = pd.read_excel("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12/BASES MOS/11.2024 S&OP ForecastColaboradoOEM_Premium_CicloDic2024.xlsx", sheet_name='Planificación Inbound',header =3)

In [5]:
fc_axs = pd.read_excel("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12/BASES MOS/11.2024 S&OP ForecastColaboradoAXS_CES&PDI_CicloNov2024.xlsx", sheet_name='Inbound SP', header=3)

In [6]:
fc_premium.rename(columns={'Último Eslabón':'Último Eslabón y Material SAP'}, inplace=True)

In [7]:
fc_axs.rename(columns={'Último Eslabón':'Último Eslabón y Material SAP'}, inplace=True)

In [8]:
fc_premium['Familia'].value_counts()

Familia
OTROS                    34614
COLISION                 20038
ACCESORIOS                6186
MECANICA                  4762
LIFESTYLE / RIDER         4711
MANTENCION / DESGASTE     1917
MANTENCION                1174
CAMPAÑA-HERRAMIENTAS       349
BRECHA COSTO                21
Name: count, dtype: int64

agregar a la venta y a la mara

In [94]:
df_brecha = fc_premium[fc_premium['Familia']=='BRECHA COSTO'][['Último Eslabón y Material SAP','Marca']]

In [95]:
df_brecha

      Último Eslabón y Material SAP         Marca
39706                BMW MotorradAC  BMW Motorrad
39707                BMW MotorradBC  BMW Motorrad
39708                BMW MotorradCC  BMW Motorrad
39710                         BMWAC           BMW
39711                         BMWBC           BMW
39712                         BMWCC           BMW
54266                      JaguarAC        Jaguar
54267                      JaguarBC        Jaguar
54268                      JaguarCC        Jaguar
55429                  Land RoverAC    Land Rover
55430                  Land RoverBC    Land Rover
55431                  Land RoverCC    Land Rover
63322                        MiniAC          Mini
63323                        MiniBC          Mini
63324                        MiniCC          Mini
67642                     PorscheAC       Porsche
67643                     PorscheBC       Porsche
67644                     PorscheCC       Porsche
73244                       VolvoAC         Volvo
73245                       VolvoBC         Volvo
73246                       VolvoCC         Volvo

In [96]:
df_brecha = df_brecha.assign(
    **{' sept-24':0,
 ' oct-24':0,
 ' nov-24':0}
)

#df_brecha = df_brecha[['sept-24', 'oct-24', 'nov-24']]

In [97]:
df_brecha.rename(columns={'Último Eslabón y Material SAP':'Último Eslabón'},inplace=True)

In [13]:
fc_cols = ['Último Eslabón y Material SAP','Marca'] + [col for col in fc.columns if 'FC' in col and 'Prom' not in col]
fc_cols_premium = ['Último Eslabón y Material SAP','Marca'] + [col for col in fc_premium.columns if 'FC' in col and 'Prom' not in col]

In [16]:
fc_cols

['Último Eslabón y Material SAP',
 'Marca',
 'FC dic-243',
 'FC ene-253',
 'FC feb-253',
 'FC mar-253',
 'FC abr-253',
 'FC may-253',
 'FC jun-253',
 'FC jul-253',
 'FC ago-253',
 'FC sept-253',
 'FC oct-253',
 'FC nov-253']

In [14]:
fc_axs_cols = ['Último Eslabón y Material SAP','Marca'] + [col for col in fc_axs.columns if 'Suma' in col and 'Prom' not in col]

In [15]:
fc_axs_cols_prom = ['Último Eslabón y Material SAP', 'Marca','Suma de dic-243',
 'Suma de ene-253',
 'Suma de feb-253',]

In [17]:
fc_cols_prom = fc_cols[:5]
fc_cols_prom_premium = fc_cols_premium[:5]

In [20]:
fc_axs_cols_prom

['Último Eslabón y Material SAP',
 'Marca',
 'Suma de dic-243',
 'Suma de ene-253',
 'Suma de feb-253']

In [21]:
df_fc_prom= fc[fc_cols_prom]
df_fc_prom_premium= fc_premium[fc_cols_prom_premium]
# df_fc_prom_axs= fc_axs[fc_axs_cols_prom]

In [22]:
df_fc_prom_axs = fc_axs[fc_axs_cols_prom]

In [23]:
df_fc_prom['fc_mean'] = df_fc_prom.select_dtypes(include='number').mean(axis=1)
df_fc_prom_premium['fc_mean'] = df_fc_prom_premium.select_dtypes(include='number').mean(axis=1)
df_fc_prom_axs['fc_mean'] = df_fc_prom_axs.select_dtypes(include='number').mean(axis=1)

C:\Users\lravlic\AppData\Local\Temp\ipykernel_36092\4261636165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fc_prom['fc_mean'] = df_fc_prom.select_dtypes(include='number').mean(axis=1)
C:\Users\lravlic\AppData\Local\Temp\ipykernel_36092\4261636165.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fc_prom_premium['fc_mean'] = df_fc_prom_premium.select_dtypes(include='number').mean(axis=1)
C:\Users\lravlic\AppData\Local\Temp\ipykernel_36092\4261636165.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fc_prom_axs['fc_mean'] = df_fc_prom_axs.select_dtypes(include='number').mean(axis=1)

In [24]:
venta = pd.read_excel( "C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12/BASES MOS/12.2024 BaseVentaOEM Sell In PBI.xlsx", sheet_name='TD BV',header=3)

In [25]:
venta_premium = pd.read_excel( "C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12/BASES MOS/12.2024 BaseVentaOEM Sell In Premium - Consumos.xlsx", sheet_name='TD Venta Sell In',header=2)

In [26]:
venta_axs = pd.read_excel("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Bases Indicadores en CSV 2024-12/BASES MOS/2024-11 BaseVenta_Sell-In_AXS.xlsx", sheet_name="TD Ult. Eslabón", header=4)

In [61]:
venta_premium_cols = [[col for col in venta_premium.columns][1]] +[[col for col in venta_premium.columns][3]]+ [' sept-24',
 ' oct-24',
 ' nov-24']

In [34]:
venta_axs.columns.to_list()

['Unnamed: 0',
 'ID',
 'Último Eslabón',
 'Nombre Sector',
 'Canal V2',
 datetime.datetime(2021, 1, 1, 0, 0),
 datetime.datetime(2021, 2, 1, 0, 0),
 datetime.datetime(2021, 3, 1, 0, 0),
 datetime.datetime(2021, 4, 1, 0, 0),
 datetime.datetime(2021, 5, 1, 0, 0),
 datetime.datetime(2021, 6, 1, 0, 0),
 datetime.datetime(2021, 7, 1, 0, 0),
 datetime.datetime(2021, 8, 1, 0, 0),
 datetime.datetime(2021, 9, 1, 0, 0),
 datetime.datetime(2021, 10, 1, 0, 0),
 datetime.datetime(2021, 11, 1, 0, 0),
 datetime.datetime(2021, 12, 1, 0, 0),
 datetime.datetime(2022, 1, 1, 0, 0),
 datetime.datetime(2022, 2, 1, 0, 0),
 datetime.datetime(2022, 3, 1, 0, 0),
 datetime.datetime(2022, 4, 1, 0, 0),
 datetime.datetime(2022, 5, 1, 0, 0),
 datetime.datetime(2022, 6, 1, 0, 0),
 datetime.datetime(2022, 7, 1, 0, 0),
 datetime.datetime(2022, 8, 1, 0, 0),
 datetime.datetime(2022, 9, 1, 0, 0),
 datetime.datetime(2022, 10, 1, 0, 0),
 datetime.datetime(2022, 11, 1, 0, 0),
 datetime.datetime(2022, 12, 1, 0, 0),
 datetime.datetime(2023, 1, 1, 0, 0),
 datetime.datetime(2023, 2, 1, 0, 0),
 datetime.datetime(2023, 3, 1, 0, 0),
 datetime.datetime(2023, 4, 1, 0, 0),
 datetime.datetime(2023, 5, 1, 0, 0),
 datetime.datetime(2023, 6, 1, 0, 0),
 datetime.datetime(2023, 7, 1, 0, 0),
 datetime.datetime(2023, 8, 1, 0, 0),
 datetime.datetime(2023, 9, 1, 0, 0),
 datetime.datetime(2023, 10, 1, 0, 0),
 datetime.datetime(2023, 11, 1, 0, 0),
 datetime.datetime(2023, 12, 1, 0, 0),
 datetime.datetime(2024, 1, 1, 0, 0),
 datetime.datetime(2024, 2, 1, 0, 0),
 datetime.datetime(2024, 3, 1, 0, 0),
 datetime.datetime(2024, 4, 1, 0, 0),
 datetime.datetime(2024, 5, 1, 0, 0),
 datetime.datetime(2024, 6, 1, 0, 0),
 datetime.datetime(2024, 7, 1, 0, 0),
 datetime.datetime(2024, 8, 1, 0, 0),
 datetime.datetime(2024, 9, 1, 0, 0),
 datetime.datetime(2024, 10, 1, 0, 0),
 'Grand Total',
 'Unnamed: 52',
 'ID.1',
 'Último Eslabón.1',
 'Canal V2.1',
 '2021-01-01 00:00:00.1',
 '2021-02-01 00:00:00.1',
 '2021-03-01 00:00:00.1',
 '2021-04-01 00:00:00.1',
 '2021-05-01 00:00:00.1',
 '2021-06-01 00:00:00.1',
 '2021-07-01 00:00:00.1',
 '2021-08-01 00:00:00.1',
 '2021-09-01 00:00:00.1',
 '2021-10-01 00:00:00.1',
 '2021-11-01 00:00:00.1',
 '2021-12-01 00:00:00.1',
 '2022-01-01 00:00:00.1',
 '2022-02-01 00:00:00.1',
 '2022-03-01 00:00:00.1',
 '2022-04-01 00:00:00.1',
 '2022-05-01 00:00:00.1',
 '2022-06-01 00:00:00.1',
 '2022-07-01 00:00:00.1',
 '2022-08-01 00:00:00.1',
 '2022-09-01 00:00:00.1',
 '2022-10-01 00:00:00.1',
 '2022-11-01 00:00:00.1',
 '2022-12-01 00:00:00.1',
 '2023-01-01 00:00:00.1',
 '2023-02-01 00:00:00.1',
 '2023-03-01 00:00:00.1',
 '2023-04-01 00:00:00.1',
 '2023-05-01 00:00:00.1',
 '2023-06-01 00:00:00.1',
 '2023-07-01 00:00:00.1',
 '2023-08-01 00:00:00.1',
 '2023-09-01 00:00:00.1',
 '2023-10-01 00:00:00.1',
 '2023-11-01 00:00:00.1',
 '2023-12-01 00:00:00.1',
 '2024-01-01 00:00:00.1',
 '2024-02-01 00:00:00.1',
 '2024-03-01 00:00:00.1',
 '2024-04-01 00:00:00.1',
 '2024-05-01 00:00:00.1',
 '2024-06-01 00:00:00.1',
 '2024-07-01 00:00:00.1',
 '2024-08-01 00:00:00.1',
 '2024-09-01 00:00:00.1',
 '2024-10-01 00:00:00.1']

In [49]:
#ventas_cols = [[col for col in venta.columns][1]] +[[col for col in venta.columns][2]]+ [col for col in venta.columns][-5:-2]
ventas_axs_cols = [venta_axs.columns[2], venta_axs.columns[3]] + list(venta_axs.columns[48:51])

In [53]:
venta_axs.columns.to_list()

['Unnamed: 0',
 'ID',
 'Último Eslabón',
 'Nombre Sector',
 'Canal V2',
 datetime.datetime(2021, 1, 1, 0, 0),
 datetime.datetime(2021, 2, 1, 0, 0),
 datetime.datetime(2021, 3, 1, 0, 0),
 datetime.datetime(2021, 4, 1, 0, 0),
 datetime.datetime(2021, 5, 1, 0, 0),
 datetime.datetime(2021, 6, 1, 0, 0),
 datetime.datetime(2021, 7, 1, 0, 0),
 datetime.datetime(2021, 8, 1, 0, 0),
 datetime.datetime(2021, 9, 1, 0, 0),
 datetime.datetime(2021, 10, 1, 0, 0),
 datetime.datetime(2021, 11, 1, 0, 0),
 datetime.datetime(2021, 12, 1, 0, 0),
 datetime.datetime(2022, 1, 1, 0, 0),
 datetime.datetime(2022, 2, 1, 0, 0),
 datetime.datetime(2022, 3, 1, 0, 0),
 datetime.datetime(2022, 4, 1, 0, 0),
 datetime.datetime(2022, 5, 1, 0, 0),
 datetime.datetime(2022, 6, 1, 0, 0),
 datetime.datetime(2022, 7, 1, 0, 0),
 datetime.datetime(2022, 8, 1, 0, 0),
 datetime.datetime(2022, 9, 1, 0, 0),
 datetime.datetime(2022, 10, 1, 0, 0),
 datetime.datetime(2022, 11, 1, 0, 0),
 datetime.datetime(2022, 12, 1, 0, 0),
 datetime.datetime(2023, 1, 1, 0, 0),
 datetime.datetime(2023, 2, 1, 0, 0),
 datetime.datetime(2023, 3, 1, 0, 0),
 datetime.datetime(2023, 4, 1, 0, 0),
 datetime.datetime(2023, 5, 1, 0, 0),
 datetime.datetime(2023, 6, 1, 0, 0),
 datetime.datetime(2023, 7, 1, 0, 0),
 datetime.datetime(2023, 8, 1, 0, 0),
 datetime.datetime(2023, 9, 1, 0, 0),
 datetime.datetime(2023, 10, 1, 0, 0),
 datetime.datetime(2023, 11, 1, 0, 0),
 datetime.datetime(2023, 12, 1, 0, 0),
 datetime.datetime(2024, 1, 1, 0, 0),
 datetime.datetime(2024, 2, 1, 0, 0),
 datetime.datetime(2024, 3, 1, 0, 0),
 datetime.datetime(2024, 4, 1, 0, 0),
 datetime.datetime(2024, 5, 1, 0, 0),
 datetime.datetime(2024, 6, 1, 0, 0),
 datetime.datetime(2024, 7, 1, 0, 0),
 datetime.datetime(2024, 8, 1, 0, 0),
 datetime.datetime(2024, 9, 1, 0, 0),
 datetime.datetime(2024, 10, 1, 0, 0),
 'Grand Total',
 'Unnamed: 52',
 'ID.1',
 'Último Eslabón.1',
 'Canal V2.1',
 '2021-01-01 00:00:00.1',
 '2021-02-01 00:00:00.1',
 '2021-03-01 00:00:00.1',
 '2021-04-01 00:00:00.1',
 '2021-05-01 00:00:00.1',
 '2021-06-01 00:00:00.1',
 '2021-07-01 00:00:00.1',
 '2021-08-01 00:00:00.1',
 '2021-09-01 00:00:00.1',
 '2021-10-01 00:00:00.1',
 '2021-11-01 00:00:00.1',
 '2021-12-01 00:00:00.1',
 '2022-01-01 00:00:00.1',
 '2022-02-01 00:00:00.1',
 '2022-03-01 00:00:00.1',
 '2022-04-01 00:00:00.1',
 '2022-05-01 00:00:00.1',
 '2022-06-01 00:00:00.1',
 '2022-07-01 00:00:00.1',
 '2022-08-01 00:00:00.1',
 '2022-09-01 00:00:00.1',
 '2022-10-01 00:00:00.1',
 '2022-11-01 00:00:00.1',
 '2022-12-01 00:00:00.1',
 '2023-01-01 00:00:00.1',
 '2023-02-01 00:00:00.1',
 '2023-03-01 00:00:00.1',
 '2023-04-01 00:00:00.1',
 '2023-05-01 00:00:00.1',
 '2023-06-01 00:00:00.1',
 '2023-07-01 00:00:00.1',
 '2023-08-01 00:00:00.1',
 '2023-09-01 00:00:00.1',
 '2023-10-01 00:00:00.1',
 '2023-11-01 00:00:00.1',
 '2023-12-01 00:00:00.1',
 '2024-01-01 00:00:00.1',
 '2024-02-01 00:00:00.1',
 '2024-03-01 00:00:00.1',
 '2024-04-01 00:00:00.1',
 '2024-05-01 00:00:00.1',
 '2024-06-01 00:00:00.1',
 '2024-07-01 00:00:00.1',
 '2024-08-01 00:00:00.1',
 '2024-09-01 00:00:00.1',
 '2024-10-01 00:00:00.1']

In [50]:
ventas_axs_cols

['Último Eslabón',
 'Nombre Sector',
 datetime.datetime(2024, 8, 1, 0, 0),
 datetime.datetime(2024, 9, 1, 0, 0),
 datetime.datetime(2024, 10, 1, 0, 0)]

In [51]:
df_prom_venta_axs = venta_axs[ventas_axs_cols]

In [103]:
df_prom_venta_axs.rename(columns={'datetime.datetime(2024, 8, 1, 0, 0)':'Suma de ago-24',
 'datetime.datetime(2024, 9, 1, 0, 0)':'Suma de sept-24',
 'datetime.datetime(2024, 10, 1, 0, 0)':'Suma de oct-24'}, inplace=True)

C:\Users\lravlic\AppData\Local\Temp\ipykernel_36092\1056915490.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prom_venta_axs.rename(columns={'datetime.datetime(2024, 8, 1, 0, 0)':'Suma de ago-24',

In [60]:
venta_premium.columns.to_list()

['Unnamed: 0',
 'Último Eslabón',
 'DESCRIPCIÓN MATERIAL',
 'Marca',
 'Familia',
 'Legado',
 ' ago-21',
 ' sept-21',
 ' oct-21',
 ' nov-21',
 ' dic-21',
 ' ene-22',
 ' feb-22',
 ' mar-22',
 ' abr-22',
 ' may-22',
 ' jun-22',
 ' jul-22',
 ' ago-22',
 ' sept-22',
 ' oct-22',
 ' nov-22',
 ' dic-22',
 ' ene-23',
 ' feb-23',
 ' mar-23',
 ' abr-23',
 ' may-23',
 ' jun-23',
 ' jul-23',
 ' ago-23',
 ' sept-23',
 ' oct-23',
 ' nov-23',
 ' dic-23',
 ' ene-24',
 ' feb-24',
 ' mar-24',
 ' abr-24',
 ' may-24',
 ' jun-24',
 ' jul-24',
 ' ago-24',
 ' sept-24',
 ' oct-24',
 ' nov-24',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'ID',
 'ID V2',
 'Último Eslabón.1',
 'Descripción Material',
 'Sector MU',
 'Nombre Sector MU',
 'Familia.1',
 'Canal',
 'Canal V2',
 'Suma de abr-19',
 'Suma de may-19',
 'Suma de jun-19',
 'Suma de jul-19',
 'Suma de ago-19',
 'Suma de sept-19',
 'Suma de oct-19',
 'Suma de nov-19',
 'Suma de dic-19',
 'Suma de ene-20',
 'Suma de feb-20',
 'Suma de mar-20',
 'Suma de abr-20',
 'Suma de may-20',
 'Suma de jun-20',
 'Suma de jul-20',
 'Suma de ago-20',
 'Suma de sept-20',
 'Suma de oct-20',
 'Suma de nov-20',
 'Suma de dic-20',
 'Suma de ene-21',
 'Suma de feb-21',
 'Suma de mar-21',
 'Suma de abr-21',
 'Suma de may-21',
 'Suma de jun-21',
 'Suma de jul-21',
 'Suma de ago-21',
 'Suma de sept-21',
 'Suma de oct-21',
 'Suma de nov-21',
 'Suma de dic-21',
 'Suma de ene-22',
 'Suma de feb-22',
 'Suma de mar-22',
 'Suma de abr-22',
 'Suma de may-22',
 'Suma de jun-22',
 'Suma de jul-22',
 'Suma de ago-22',
 'Suma de sept-22',
 'Suma de oct-22',
 'Suma de nov-22',
 'Suma de dic-22',
 'Suma de ene-23',
 'Suma de feb-23',
 'Suma de mar-23',
 'Suma de abr-23',
 'Suma de may-23',
 'Suma de jun-23',
 'Suma de jul-23',
 'Suma de ago-23',
 'Suma de sept-23',
 'Suma de oct-23',
 'Suma de nov-23',
 'Suma de dic-23',
 'Suma de ene-24',
 'Suma de feb-24',
 'Suma de mar-24',
 'Suma de abr-24',
 'Suma de may-24',
 'Suma de jun-24']

In [64]:
venta_premium.columns.to_list()

['Unnamed: 0',
 'Último Eslabón',
 'DESCRIPCIÓN MATERIAL',
 'Marca',
 'Familia',
 'Legado',
 ' ago-21',
 ' sept-21',
 ' oct-21',
 ' nov-21',
 ' dic-21',
 ' ene-22',
 ' feb-22',
 ' mar-22',
 ' abr-22',
 ' may-22',
 ' jun-22',
 ' jul-22',
 ' ago-22',
 ' sept-22',
 ' oct-22',
 ' nov-22',
 ' dic-22',
 ' ene-23',
 ' feb-23',
 ' mar-23',
 ' abr-23',
 ' may-23',
 ' jun-23',
 ' jul-23',
 ' ago-23',
 ' sept-23',
 ' oct-23',
 ' nov-23',
 ' dic-23',
 ' ene-24',
 ' feb-24',
 ' mar-24',
 ' abr-24',
 ' may-24',
 ' jun-24',
 ' jul-24',
 ' ago-24',
 ' sept-24',
 ' oct-24',
 ' nov-24',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'ID',
 'ID V2',
 'Último Eslabón.1',
 'Descripción Material',
 'Sector MU',
 'Nombre Sector MU',
 'Familia.1',
 'Canal',
 'Canal V2',
 'Suma de abr-19',
 'Suma de may-19',
 'Suma de jun-19',
 'Suma de jul-19',
 'Suma de ago-19',
 'Suma de sept-19',
 'Suma de oct-19',
 'Suma de nov-19',
 'Suma de dic-19',
 'Suma de ene-20',
 'Suma de feb-20',
 'Suma de mar-20',
 'Suma de abr-20',
 'Suma de may-20',
 'Suma de jun-20',
 'Suma de jul-20',
 'Suma de ago-20',
 'Suma de sept-20',
 'Suma de oct-20',
 'Suma de nov-20',
 'Suma de dic-20',
 'Suma de ene-21',
 'Suma de feb-21',
 'Suma de mar-21',
 'Suma de abr-21',
 'Suma de may-21',
 'Suma de jun-21',
 'Suma de jul-21',
 'Suma de ago-21',
 'Suma de sept-21',
 'Suma de oct-21',
 'Suma de nov-21',
 'Suma de dic-21',
 'Suma de ene-22',
 'Suma de feb-22',
 'Suma de mar-22',
 'Suma de abr-22',
 'Suma de may-22',
 'Suma de jun-22',
 'Suma de jul-22',
 'Suma de ago-22',
 'Suma de sept-22',
 'Suma de oct-22',
 'Suma de nov-22',
 'Suma de dic-22',
 'Suma de ene-23',
 'Suma de feb-23',
 'Suma de mar-23',
 'Suma de abr-23',
 'Suma de may-23',
 'Suma de jun-23',
 'Suma de jul-23',
 'Suma de ago-23',
 'Suma de sept-23',
 'Suma de oct-23',
 'Suma de nov-23',
 'Suma de dic-23',
 'Suma de ene-24',
 'Suma de feb-24',
 'Suma de mar-24',
 'Suma de abr-24',
 'Suma de may-24',
 'Suma de jun-24']

In [98]:
venta_premium_cols

['Último Eslabón', 'Marca', ' sept-24', ' oct-24', ' nov-24']

In [99]:
df_prom_venta = venta[ventas_cols]
df_prom_venta_premium = venta_premium[venta_premium_cols]
df_prom_venta_premium = pd.concat([df_brecha,df_prom_venta_premium])

In [104]:
df_prom_venta_axs.head()

,Último Eslabón,Nombre Sector,2024-08-01 00:00:00,2024-09-01 00:00:00,2024-10-01 00:00:00
0,8201356700,AXS,0,0,1
1,73821M68P005PK,AXS,3,3,1
2,A04PZD-M1,AXS,2,0,1
3,CAJAMNBO320L,AXS,0,0,0
4,ET-442,AXS,0,0,0

In [105]:
df_prom_venta['venta_mean'] =  df_prom_venta.select_dtypes(include='number').mean(axis=1)
df_prom_venta_premium['venta_mean'] =  df_prom_venta_premium.select_dtypes(include='number').mean(axis=1)
df_prom_venta_axs['venta_mean'] =  df_prom_venta_axs.select_dtypes(include='number').mean(axis=1)

C:\Users\lravlic\AppData\Local\Temp\ipykernel_36092\1802492279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prom_venta['venta_mean'] =  df_prom_venta.select_dtypes(include='number').mean(axis=1)
C:\Users\lravlic\AppData\Local\Temp\ipykernel_36092\1802492279.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prom_venta_axs['venta_mean'] =  df_prom_venta_axs.select_dtypes(include='number').mean(axis=1)

In [108]:
df_prom_venta.head()

,Último Eslabón,Nombre Sector MU,Suma de sept-24,Suma de oct-24,Suma de nov-24,venta_mean
0,0000000190-OP1,Renault,0,0,0,0.0
1,0000000244,Renault,0,0,0,0.0
2,0000101800,Renault,0,0,0,0.0
3,0000105400,Renault,0,0,0,0.0
4,0000132900,Renault,0,0,0,0.0

In [109]:
df_fc_prom= df_fc_prom[['Último Eslabón y Material SAP','Marca', 'fc_mean']]
df_fc_prom_premium= df_fc_prom_premium[['Último Eslabón y Material SAP','Marca', 'fc_mean']]
df_fc_prom_axs= df_fc_prom_axs[['Último Eslabón y Material SAP','Marca', 'fc_mean']]
df_fc_prom_consolidado = pd.concat([df_fc_prom,df_fc_prom_premium,df_fc_prom_axs])

In [110]:
df_fc_prom_consolidado

     Último Eslabón y Material SAP   Marca       fc_mean
0                    015001035A000  Suzuki      0.000000
1                    015500612A000  Suzuki      0.000000
2                    015500620B000  Suzuki      0.000000
3                    015500685A000  Suzuki      0.000000
4                    015500840A000  Suzuki      0.000000
...                            ...     ...           ...
1156                    7717079987     NaN      0.000000
1157                    7717079985     NaN      0.000000
1158              TRUNKLOCKGWMPOER     NaN      6.666667
1159                  BSN-PCD2-003     NaN      3.333333
1160                   Grand Total     NaN  25277.194444

[316370 rows x 3 columns]

In [111]:
df_prom_venta_premium.rename(columns={'Marca':'Nombre Sector MU'}, inplace=True)

In [115]:
df_prom_venta_axs.rename(columns = {'Nombre Sector':'Nombre Sector MU'}, inplace=True)

C:\Users\lravlic\AppData\Local\Temp\ipykernel_36092\4253954018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_prom_venta_axs.rename(columns = {'Nombre Sector':'Nombre Sector MU'}, inplace=True)

In [116]:
df_prom_venta = df_prom_venta[['Último Eslabón','Nombre Sector MU','venta_mean']]
df_prom_venta_premium = df_prom_venta_premium[['Último Eslabón','Nombre Sector MU','venta_mean']]
df_prom_venta_axs = df_prom_venta_axs[['Último Eslabón','Nombre Sector MU','venta_mean']]
df_prom_venta_consolidado = pd.concat([df_prom_venta,df_prom_venta_premium,df_prom_venta_axs])

In [118]:
df_prom_venta_consolidado['Nombre Sector MU'].value_counts()

Nombre Sector MU
Subaru          42681
BMW             40969
Volvo           32155
Porsche         28266
Land Rover      24528
Suzuki          19034
Mazda           16857
BMW Motorrad    13398
Renault         12571
Jaguar          10730
Great Wall      10312
DFSK             9397
JAC Cars         9361
Changan          7815
Geely            5338
Mini             4720
AXS              1141
Nacional WBM      540
Name: count, dtype: int64

venta promedio lista '\n'
fc promedio listo
determinar "apostrofe" y poner apostrofe en codigo de material (condicional)
consolidar mara

In [119]:
import tkinter as tk
from tkinter import ttk
from tkcalendar import Calendar
from datetime import datetime, timedelta
import pandas as pd

# DataFrame base (reemplaza 'df_fc_prom' con tu DataFrame completo)

dfs = []
df_consolidado = pd.DataFrame()  # Definir df_consolidado globalmente
dfs_venta = []
def seleccionar_fecha():
    def obtener_fecha():
        global df_consolidado , df_consolidado_venta # Declarar que usamos la variable global

        # Convertimos la fecha seleccionada a un objeto datetime
        fecha_seleccionada = datetime.strptime(cal.get_date(), '%m/%d/%y')
        ventana_cal.destroy()  # Cierra la ventana del calendario

        # Obtenemos el año y mes de la fecha seleccionada
        mes_inicial = fecha_seleccionada.month

        # Iniciamos el loop con la fecha seleccionada y continuamos hasta que cambie de mes
        fecha_actual = fecha_seleccionada
        while fecha_actual.month == mes_inicial:
            # Crear una copia completa de df_fc_prom y agregar la fecha
            df2 = df_prom_venta_consolidado.copy()
            df = df_fc_prom_consolidado.copy()
            df['Fecha'] = fecha_actual  # Asigna la misma fecha a todas las filas de este DataFrame
            df2['Fecha'] = fecha_actual
            # Agregar el DataFrame al listado de dfs
            dfs.append(df)
            dfs_venta.append(df2)

            # Incrementar la fecha en 7 días
            fecha_actual += timedelta(days=7)

        # Concatenar todos los DataFrames de dfs en un único DataFrame
        df_consolidado = pd.concat(dfs, ignore_index=True)
        df_consolidado_venta = pd.concat(dfs_venta, ignore_index=True)


    # Crear ventana de selección de fecha
    ventana_cal = tk.Tk()
    ventana_cal.title("Seleccionar Fecha de Inicio")

    cal = Calendar(ventana_cal, selectmode='day')
    cal.pack(pady=20)

    # Botón para confirmar selección
    ttk.Button(ventana_cal, text="Seleccionar", command=obtener_fecha).pack(pady=10)

    ventana_cal.mainloop()

# Llamamos a la función para abrir el selector de fecha
seleccionar_fecha()

In [120]:
df_prom_venta_axs['Nombre Sector MU'].value_counts()

Nombre Sector MU
AXS        1141
Renault       1
Name: count, dtype: int64

In [121]:
# Sample DataFrame
import numpy as np

# Assign values to a new column based on multiple conditions
df_consolidado_venta['Tipo'] = np.select(
    [
        df_consolidado_venta['Nombre Sector MU'].isin(['Nacional WBM', 'Mini', 'BMW Motorrad', 'Jaguar', 'Land Rover', 'BMW', 'Porsche', 'Volvo']),
        df_consolidado_venta['Nombre Sector MU'].isin(['Subaru', 'GEELY', 'DFSK'])
    ],
    [
        'OEM Premium',  # Value if condition for OEM Premium is True
        'OEM Inchcape'  # Value if condition for OEM Inchcape is True
    ],
    default='OEM Derco'  # Value if none of the conditions are True
)

print(df_consolidado_venta)

             Último Eslabón Nombre Sector MU    venta_mean      Fecha  \
0            0000000190-OP1          Renault      0.000000 2024-12-02
1                0000000244          Renault      0.000000 2024-12-02
2                0000101800          Renault      0.000000 2024-12-02
3                0000105400          Renault      0.000000 2024-12-02
4                0000132900          Renault      0.000000 2024-12-02
...                     ...              ...           ...        ...
1449075       990H0990BD015              AXS      0.333333 2024-12-30
1449076          8201681612              AXS      0.333333 2024-12-30
1449077               37005              AXS      0.333333 2024-12-30
1449078  PISOSGOMAJIMNY5PAT              AXS      6.666667 2024-12-30
1449079                 NaN              NaN  32525.000000 2024-12-30

              Tipo
0        OEM Derco
1        OEM Derco
2        OEM Derco
3        OEM Derco
4        OEM Derco
...            ...
1449075  OEM Derco
1449076  OEM Derco
1449077  OEM Derco
1449078  OEM Derco
1449079  OEM Derco

[1449080 rows x 5 columns]

In [122]:
# Sample DataFrame
import numpy as np

# Assign values to a new column based on multiple conditions
df_consolidado['Tipo'] = np.select(
    [
        df_consolidado['Marca'].isin(['Nacional WBM', 'Mini', 'BMW Motorrad', 'Jaguar', 'Land Rover', 'BMW', 'Porsche', 'Volvo']),
        df_consolidado['Marca'].isin(['Subaru', 'GEELY', 'DFSK'])
    ],
    [
        'OEM Premium',  # Value if condition for OEM Premium is True
        'OEM Inchcape'  # Value if condition for OEM Inchcape is True
    ],
    default='OEM Derco'  # Value if none of the conditions are True
)

print(df_consolidado)

        Último Eslabón y Material SAP   Marca       fc_mean      Fecha  \
0                       015001035A000  Suzuki      0.000000 2024-12-02
1                       015500612A000  Suzuki      0.000000 2024-12-02
2                       015500620B000  Suzuki      0.000000 2024-12-02
3                       015500685A000  Suzuki      0.000000 2024-12-02
4                       015500840A000  Suzuki      0.000000 2024-12-02
...                               ...     ...           ...        ...
1581845                    7717079987     NaN      0.000000 2024-12-30
1581846                    7717079985     NaN      0.000000 2024-12-30
1581847              TRUNKLOCKGWMPOER     NaN      6.666667 2024-12-30
1581848                  BSN-PCD2-003     NaN      3.333333 2024-12-30
1581849                   Grand Total     NaN  25277.194444 2024-12-30

              Tipo
0        OEM Derco
1        OEM Derco
2        OEM Derco
3        OEM Derco
4        OEM Derco
...            ...
1581845  OEM Derco
1581846  OEM Derco
1581847  OEM Derco
1581848  OEM Derco
1581849  OEM Derco

[1581850 rows x 5 columns]

In [123]:
df_consolidado_venta['Último Eslabón'] = df_consolidado_venta['Último Eslabón'].astype('str')

In [124]:
venta_axs.shape

(1143, 102)

In [125]:
def append_material_venta(row):
    if row['Tipo'] == 'OEM Inchcape':
        return row['Último Eslabón'] + 'INP300'
    elif row['Tipo'] == 'OEM Derco':
        return row['Último Eslabón'] + 'R3'
    else:
        return row['Último Eslabón']

# Apply the function to modify the column
df_consolidado_venta['Último Eslabón'] = df_consolidado_venta.apply(append_material_venta, axis=1)

In [126]:
df_consolidado['Último Eslabón y Material SAP'] = df_consolidado['Último Eslabón y Material SAP'].astype('str')

In [127]:
def append_material(row):
    if row['Tipo'] == 'OEM Inchcape':
        return row['Último Eslabón y Material SAP'] + 'INP300'
    elif row['Tipo'] == 'OEM Derco':
        return row['Último Eslabón y Material SAP'] + 'R3'
    else:
        return row['Último Eslabón y Material SAP']

# Apply the function to modify the column
df_consolidado['Último Eslabón y Material SAP'] = df_consolidado.apply(append_material, axis=1)

In [128]:
df_consolidado_venta['Fecha'].value_counts()

Fecha
2024-12-02    289816
2024-12-09    289816
2024-12-16    289816
2024-12-23    289816
2024-12-30    289816
Name: count, dtype: int64

In [129]:
df_consolidado.to_csv('consolidado_fc_dic.csv')
df_consolidado_venta.to_csv('consolidado_ventas_dic.csv')

In [129]:
prueba=pd.read_csv('consolidado_fc_nov.csv')

In [130]:
prueba['Marca'].value_counts()

Marca
Suzuki          182724
Mazda           182048
Subaru          170644
BMW             161768
Renault         137888
Volvo           128336
Porsche         111940
Land Rover       97672
Great Wall       90112
Jac Cars         76484
Changan          67028
BMW Motorrad     52896
Jaguar           42632
DFSK             37576
Geely            21352
Mini             18796
Nacional WBM      2132
Name: count, dtype: int64

In [132]:
df_consolidado[df_consolidado['Marca']=='Mazda']

,Último Eslabón y Material SAP,Marca,fc_mean,Fecha,Tipo
2926,1WA014302R3,Mazda,517.583333,2024-12-02,OEM Derco
2929,995641400R3,Mazda,2380.400000,2024-12-02,OEM Derco
2931,B6Y114302AR3,Mazda,504.900000,2024-12-02,OEM Derco
2934,KD4561J6XR3,Mazda,483.000000,2024-12-02,OEM Derco
2935,PE0114302BR3,Mazda,3231.033333,2024-12-02,OEM Derco
...,...,...,...,...,...
1506899,G4YL50A11R3,Mazda,4.000000,2024-12-30,OEM Derco
1506901,BFYB50EK1R3,Mazda,6.666667,2024-12-30,OEM Derco
1506903,KSL751041DR3,Mazda,8.000000,2024-12-30,OEM Derco
1506904,KSL751031DR3,Mazda,10.000000,2024-12-30,OEM Derco
1506910,KN0W69121DR3,Mazda,0.769231,2024-12-30,OEM Derco